{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<h1>Set password</h1>
<form action="{{ url_for_security('set_password_after_invite') }}" method="POST" name="invite_new_password_form">
  {{ invite_new_password_form.hidden_tag() }}
  {{ render_field_with_errors(invite_new_password_form.new_password) }}
  {{ render_field_with_errors(invite_new_password_form.new_password_confirm) }}
  {{ render_field(invite_new_password_form.submit) }}
</form>

